.vscode/tasks.json
get_next_line/.main.c
.vscode/settings.json
.DS_Store
get_next_line/.main.dSYM/Contents/Info.plist
get_next_line/.vscode/settings.json
get_next_line/.vscode/tasks.json
get_next_line/a.out.dSYM/Contents/Info.plist
get_next_line1/.main.dSYM/Contents/Info.plist
get_next_line/a.out.dSYM/Contents/Resources/DWARF/a.out
get_next_line1/.main.dSYM/Contents/Resources/DWARF/.main
get_next_line/.main.dSYM/Contents/Resources/DWARF/.main
.vscode/c_cpp_properties.json
.vscode/launch.json
